.container_bigCard{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container_bigCard .bigCard_photo > img{
  height:250px;
  width: 100%;
  min-width: 400px;
}
.bigCard_title{
  margin-top: 15px;
}
.bigCard_title > h1 > a{
  font-size: 20px;
}
.bigCard_title > h1 > a:hover{
  color: lightgray;
}
a{
  text-decoration: none;
}
.bigCard_description > p{
  margin-top: 10px;
}
.bigCard_description > p:hover{
  color: lightgray;
}
