<div class="container_bigCard">
  <div class="bigCard_photo">
    <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="" />
  </div>
  <div class="bigCard_title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="bigCard_description">
    <p>
      <a href=""
        >Vai queimar tua rosquinha como tu bem entender, porra! E se começa com
        uma amizade gay, tem tudo pra ser gay no futuro. Se nosso filho começa a
        andar com quem cheira, ele tem tudo pra cheirar também.
      </a>
    </p>
  </div>
</div>
